<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wq.mapper.CourseMapper">
    <resultMap id="BaseResultMap" type="com.wq.entity.Course">
        <result column="pkid" jdbcType="VARCHAR" property="pkid"/>
        <result column="course_name" jdbcType="VARCHAR" property="courseName"/>
        <result column="class_key" jdbcType="VARCHAR" property="classKey"/>
        <result column="teacher_key" jdbcType="VARCHAR" property="teacherKey"/>
    </resultMap>
    <select id="getCourseList" parameterType="String" resultType="java.util.HashMap">
        select t.pkid as value,t.course_name as text
        from course t
        WHERE t.class_key=#{classKey}
    </select>
    <insert id="insert" parameterType="com.wq.entity.Course">
    insert into course (pkid, course_name, class_key, 
      teacher_key)
    values (#{pkid,jdbcType=VARCHAR}, #{courseName,jdbcType=VARCHAR}, #{classKey,jdbcType=VARCHAR}, 
      #{teacherKey,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.wq.entity.Course">
        insert into course
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pkid != null">
                pkid,
            </if>
            <if test="courseName != null">
                course_name,
            </if>
            <if test="classKey != null">
                class_key,
            </if>
            <if test="teacherKey != null">
                teacher_key,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pkid != null">
                #{pkid,jdbcType=VARCHAR},
            </if>
            <if test="courseName != null">
                #{courseName,jdbcType=VARCHAR},
            </if>
            <if test="classKey != null">
                #{classKey,jdbcType=VARCHAR},
            </if>
            <if test="teacherKey != null">
                #{teacherKey,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="update" parameterType="com.wq.entity.Course">
        update course
        <set>
            <if test="courseName != null">
                course_name=#{courseName},
            </if>
            <if test="classKey != null">
                class_key=#{classKey},
            </if>
            <if test="teacherKey != null">
                teacher_key=#{teacherKey},
            </if>
        </set>
        where pkid=#{pkid}
    </update>
    <delete id="deleteByPrimaryKey">
        delete from score
        <where>
            pkid
            <foreach collection="array" item="pkid" open="in (" close=")" separator=",">
                #{pkid}
            </foreach>
        </where>
    </delete>
</mapper>